<h1 class="text-center"> Flight Search </h1>
<div class="container">
    <form [formGroup]='flightsearchform' class="mx-auto w-50" (ngSubmit)="getflightSearch()" >
        
        <div class="form-group ">
            <label>From:</label>
            <input class="form-control" type="text" formControlName="from" placeholder="Enter City" >

            <div *ngIf="!flightsearchform.get('from')?.valid && (flightsearchform.get('from')?.dirty || flightsearchform.get('from')?.touched) "
            class="error">
                <div *ngIf="flightsearchform.get('from')?.errors?.required" >
                    <small class="text-danger">City is required</small>
                </div>

                <div *ngIf="flightsearchform.get('from')?.errors?.pattern" >
                    <small class="text-danger">City name cannot contain numbers</small>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label>Destination:</label>
            <input class="form-control" type="text" formControlName="to" placeholder="Enter City" >

            <div *ngIf="!flightsearchform.get('to')?.valid && (flightsearchform.get('to')?.dirty || flightsearchform.get('to')?.touched) "
            class="error">
                <div *ngIf="flightsearchform.get('to')?.errors?.required" >
                    <small class="text-danger">City is required</small>
                </div>

                <div *ngIf="flightsearchform.get('to')?.errors?.pattern" >
                    <small class="text-danger">City name cannot contain numbers</small>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label>Ticket Type:</label> &nbsp;
            <select class="form-select" formControlName="tripType" name="trip">
                <option value ="" disabled>CHOOSE ONE WAY/ROUND TRIP</option>
                <option value ="OW" >One Way</option>
                <option value ="RT" >Round Trip</option>
            </select>
        </div>

        <div class="form-group">
            <label>Departure Date:</label>
            <input class="form-control dateCursor" type="date" formControlName="departureDate" min="{{maxdate}}">
        </div>

        <div class="form-group" *ngIf="f.tripType.value == 'RT'">
            <label>Return Date:</label>
            <input class="form-control dateCursor" type="date" formControlName="returnDate" min="{{maxdate}}">
        </div>

        <div class="form-group">
            <label>Total Passengers:</label>
            <input class="form-control" type="number" formControlName="passengersCount" placeholder="Enter passengers">
        </div>

        <div class="d-grid mt-3">
            <button class="btn btn-primary btn-lg" type="submit" [disabled]="!flightsearchform.valid">Search</button>
        </div>
        
    </form>
</div>

