<h1 class="text-center"> Flight Search </h1>
<div class="container">
    <form [formGroup]='flightsearchform' class="mx-auto w-50" (ngSubmit)="getflightSearch()" >

        <div class="form-group">
            <label for="From">From</label>
            <select  name="From" id="From" class="form-select"  placeholder="enter city" formControlName="from" (click)=c()>
            <option >Choose Source</option>  
            <option *ngFor="let x of scopys;let i = index"  >{{x}}</option>
          </select>
        </div>

        <div class="form-group">  
          <label for="To">To</label>
          <select name="To" id="To" placeholder="enter city" class="form-select" formControlName="to">
          <option style="display:none;"></option>
          <option *ngFor="let x of s;let i = index">{{x}}</option>
          </select>
        </div>

        <div class="form-group">
            <label>Ticket Type:</label> &nbsp;
            <select class="form-select" formControlName="tripType" name="trip">
                <option value ="" disabled>CHOOSE ONE WAY/ROUND TRIP</option>
                <option value ="OW" >One Way</option>
                <option value ="RT" >Round Trip</option>
            </select>
        </div>

        <div class="form-group">
            <label>Departure Date:</label>
            <input class="form-control dateCursor" type="date" formControlName="departureDate" min="{{maxdate}}">
        </div>

        <div class="form-group" *ngIf="f.tripType.value == 'RT'">
            <label>Return Date:</label>
            <input class="form-control dateCursor" type="date" formControlName="returnDate" min="{{maxdate}}">
            <div *ngIf="!flightsearchform.get('returndate')?.valid && (flightsearchform.get('returndate')?.dirty || flightsearchform.get('returndate')?.touched) "
        class="error">
                <div *ngIf="flightsearchform.get('returndate')?.errors?.required" >
                    <small class="text-danger">Return date is required</small>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label>Total Passengers:</label>
            <input class="form-control" type="number" formControlName="passengersCount" placeholder="Enter passengers">
            <div *ngIf="!flightsearchform.get('passengers')?.valid && (flightsearchform.get('passengers')?.dirty || flightsearchform.get('passengers')?.touched) "
        class="error">
                <div *ngIf="flightsearchform.get('passengers')?.errors?.required" >
                    <small class="text-danger">Number of passengers is required</small>
                </div>
             </div>
        </div>

        <div class="d-grid mt-3">
            <button class="btn btn-primary btn-lg" type="submit" [disabled]="!flightsearchform.valid">Search</button>
        </div>
        
    </form>
</div>

