<div>
    <div>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">SAKK Airlines</a>
              <div class="d-flex justify-content-end" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                  <button class="nav-link active btn btn-primary" (click) = "SignInRegister()">Sign in / Register</button>
                </div>
              </div>
            </div>
          </nav>
          <!-- router outlet of child components -->
          <!-- <div class="container"> -->
              <router-outlet></router-outlet>
          <!-- </div> -->
          
    </div>
</div>
