

<h1 class="text-center bg-info">Register Here!</h1>
<div class="register-form" style="text-align:center;">
    <form [formGroup]="userRegistrationForm" class="mx-auto w-25 p-3">
        <fieldset>
        <legend style="font-size:larger;"><b>Registration Form</b></legend>
            <div class="text-center">
                <label for="title">Title</label>
                <select id="title" formControlName="title" class="form-select">
                    <option value=default>--Choose Title--</option>
                    <option>Mr.</option>
                    <option>Ms.</option>
                    <option>Mrs.</option>
                </select>                      
            </div>
            <div class="form-group">
                <label for="firstName"><p class="glyphicon glyphicon-plane"></p>FirstName<span class="text-danger">*</span></label>
                <input id="firstName" type="text" formControlName="firstName" class="form-control" placeholder="Enter FirstName"  /> 
                <div *ngIf="!userRegistrationForm.get('firstName')?.valid && (userRegistrationForm.get('firstName')?.dirty || userRegistrationForm.get('firstName')?.touched) "class="alert alert-danger">
                    <div *ngIf="userRegistrationForm.get('firstName')?.errors?.required" ><small class="text-danger">Please Enter Firstname</small></div>   
                    <div *ngIf="userRegistrationForm.get('firstName')?.errors?.pattern" ><small class="text-danger">No Numbers allowed in Firstname</small> </div>     
                </div>
            </div>
            <div class="form-group">
                <label for="LastName"><p class="glyphicon glyphicon-plane"></p>LastName<span class="text-danger">*</span></label>
                <input id="LastName" type="text" formControlName="lastName"  class="form-control" placeholder="Enter LastName"  />
                <div *ngIf="!userRegistrationForm.get('lastName')?.valid && (userRegistrationForm.get('lastName')?.dirty || userRegistrationForm.get('lastName')?.touched) "class="alert alert-danger">
                    <div *ngIf="userRegistrationForm.get('lastName')?.errors?.required" ><small class="text-danger">Please Enter the LastName</small></div>    
                    <div *ngIf="userRegistrationForm.get('lastName')?.errors?.pattern" ><small class="text-danger">No Numbers in LastName</small></div>  
                </div>
            </div>
            <div class="form-group">
                <label for="Email"><p class="glyphicon glyphicon-plane"></p>Email<span class="text-danger">*</span></label>
                <input id="Email" type="email" formControlName="email" class="form-control" placeholder="Enter Email"/>
                  <div *ngIf="!userRegistrationForm.get('email')?.valid && (userRegistrationForm.get('email')?.dirty || userRegistrationForm.get('email')?.touched) "class="alert alert-danger">
                    <div *ngIf="userRegistrationForm.get('email')?.errors?.required" ><small class="text-danger">email is mandatory</small></div>    
                    <div *ngIf="userRegistrationForm.get('email')?.errors?.email" ><small class="text-danger">email is not allowed</small></div>    
                </div>    
            </div>
            <div class="form-group">
                <label for="Password"><p class="glyphicon glyphicon-plane"></p>Password<span class="text-danger">*</span></label>
                <input id="Password" type="password" formControlName="password" class="form-control" placeholder="Enter password"   />
                <div *ngIf="!userRegistrationForm.get('password')?.valid && (userRegistrationForm.get('password')?.dirty || userRegistrationForm.get('password')?.touched) "class="alert alert-danger">
                    <div *ngIf="userRegistrationForm.get('password')?.errors?.required"><small class="text-danger">password is required</small></div>
                    <div *ngIf="userRegistrationForm.get('password')?.errors?.minlength"><small class="text-danger">Password must be at least 6 characters</small></div>
                    <div *ngIf="userRegistrationForm.get('password')?.errors?.maxlength"><small class="text-danger">Username must not exceed 20 characters</small></div>
                    <div *ngIf="userRegistrationForm.get('password')?.errors?.pattern" ><small class="text-danger"><ul>Password Must contain<li>One character</li>
                    <li>One number</li><li>One special character</li><li>One Capital Character</li></ul></small></div>
                </div>
            </div>
            <div class="form-group">
                <label for="Confirmpassword"><p class="glyphicon glyphicon-plane"></p>ConfirmPassword<span class="text-danger">*</span></label>
                <input id="Confirmpassword" type="password" formControlName="confirmpassword" class="form-control" placeholder="Enter confirm Password" />
                <div *ngIf="!userRegistrationForm.get('confirmpassword')?.valid && (userRegistrationForm.get('confirmpassword')?.dirty || userRegistrationForm.get('confirmpassword')?.touched) "
                class="alert alert-danger">
                    <div *ngIf="userRegistrationForm.get('confirmpassword')?.errors?.required" >
                        <small class="text-danger">Confirm Password is required</small></div></div> 

                <div *ngIf="!(userRegistrationForm.get('confirmpassword')?.value==userRegistrationForm.get('password')?.value) && userRegistrationForm.get('confirmpassword')?.dirty"  class="alert alert-danger"><small class="text-danger">Confirm Password is not matching</small></div>                               
            </div>
            <div class="form-group">
                <label for="DateOfBirth"><p class="glyphicon glyphicon-plane"></p>Date Of Birth<span class="text-danger">*</span></label>
                <input id="Date Of Birth" type="date" placeholder="dd-mm-yyyy" formControlName="DOB"   max="{{maxdate}}" />
                <div *ngIf="!userRegistrationForm.get('DOB')?.valid && (userRegistrationForm.get('DOB')?.dirty || userRegistrationForm.get('DOB')?.touched) "
                class="alert alert-danger">
                    <div *ngIf="userRegistrationForm.get('DOB')?.errors?.required" >
                        <small class="text-danger">email is mandatory</small>
                    </div></div>
            </div>           
            <div>
                <label for="PhoneNumber"><p class="glyphicon glyphicon-plane"></p>Phone Number<span class="text-danger">*</span></label>
                <input id="PhoneNumber" type="text"formControlName="phoneNumber" class="form-control" placeholder="Enter PhoneNumber" />
                <div *ngIf="!userRegistrationForm.get('phoneNumber')?.valid && (userRegistrationForm.get('phoneNumber')?.dirty || userRegistrationForm.get('phoneNumber')?.touched) "class="alert alert-danger">
                    <div *ngIf="userRegistrationForm.get('phoneNumber')?.errors?.required"><small class="text-danger">PhoneNumber is required</small></div>
                    <div *ngIf="userRegistrationForm.get('phoneNumber')?.errors?.pattern"><small class="text-danger">format should be +91_ _ _ _ _ _ _ _ _ _</small></div>                        
                </div>
            </div>
            <div class="form-group">
                <label for="WalletAmount"><p class="glyphicon glyphicon-plane"></p>WalletAmount<span class="text-danger">*</span></label>
                <input id="WalletAmount" type="number" formControlName="walletAmount" class="form-control" placeholder="Enter WalletAmount"/>
                <div *ngIf="!userRegistrationForm.get('walletAmount')?.valid && (userRegistrationForm.get('walletAmount')?.dirty || userRegistrationForm.get('walletAmount')?.touched) "
                class="alert alert-danger">
                    <div *ngIf="userRegistrationForm.get('walletAmount')?.errors?.required" >
                        <small class="text-danger">WalletAmount required</small></div>
                </div>
            </div>
            <div class="form-group">
                <button type="submit" [disabled]="userRegistrationForm.invalid || confirmPasswordValidator()" (click)="onSubmit1()"  class="btn btn-primary">SIGNUP</button>   
            </div>                                                                                               
        </fieldset>
    </form>
</div>