

<h1 class="text-center" style="text-align: center;"> Add Flight </h1>


<form [formGroup]='adminAddFlightForm' class="mx-auto w-25" (ngSubmit)="addFlight()">

    <div class="form-group ">
        <label>Registration Number:</label>
        <input class="form-control" type="text" formControlName="RegistrationNumber" placeholder="Enter Registration Number" [(ngModel)]="flightdetails.registrationNumber" >

        <div *ngIf="!adminAddFlightForm.get('RegistrationNumber')?.valid && (adminAddFlightForm.get('RegistrationNumber')?.dirty || adminAddFlightForm.get('RegistrationNumber')?.touched) "
        class="error">
        <div *ngIf="adminAddFlightForm.get('RegistrationNumber')?.errors?.required" >
            <small class="text-danger">Registration Number is required</small>
        </div>   

    </div>
    </div>

    <div class="form-group ">
        <label>Flight Number:</label>
        <input class="form-control" type="text" formControlName="FlightNumber" placeholder="Enter Flight Number" [(ngModel)]="flightdetails.flightNumber">

        <div *ngIf="!adminAddFlightForm.get('FlightNumber')?.valid && (adminAddFlightForm.get('FlightNumber')?.dirty || adminAddFlightForm.get('FlightNumber')?.touched) "
        class="error">
        <div *ngIf="adminAddFlightForm.get('FlightNumber')?.errors?.required" >
            <small class="text-danger">Flight Number is required</small>
        </div>   

    </div>
    </div>


    <div class="form-group ">
        <label>From:</label>
        <input class="form-control" type="text" formControlName="FromLocation" placeholder="Enter From Location" [(ngModel)]="flightdetails.fromLocation" >

        <div *ngIf="!adminAddFlightForm.get('FromLocation')?.valid && (adminAddFlightForm.get('FromLocation')?.dirty || adminAddFlightForm.get('FromLocation')?.touched) "
        class="error">
        <div *ngIf="adminAddFlightForm.get('FromLocation')?.errors?.required" >
            <small class="text-danger">City is required</small>
        </div>  
        
        <div *ngIf="adminAddFlightForm.get('to')?.errors?.pattern" >
            <small class="text-danger">City name cannot contain numbers</small>
        </div>

    </div>
    </div>

    <div class="form-group ">
        <label>Destination:</label>
        <input class="form-control" type="text" formControlName="ToLocation" placeholder="Enter Destination Location" [(ngModel)]="flightdetails.toLocation" >

        <div *ngIf="!adminAddFlightForm.get('ToLocation')?.valid && (adminAddFlightForm.get('ToLocation')?.dirty || adminAddFlightForm.get('ToLocation')?.touched) "
        class="error">
        <div *ngIf="adminAddFlightForm.get('ToLocation')?.errors?.required" >
            <small class="text-danger">City is required</small>
        </div>  

        <div *ngIf="adminAddFlightForm.get('to')?.errors?.pattern" >
            <small class="text-danger">City name cannot contain numbers</small>
        </div>

    </div>
    </div>

    <div class="form-group">
        <label>Departure Date:</label>
        <input class="form-control" type="date" formControlName="DepartureDate" min="{{maxdate}}" [(ngModel)]="flightdetails.departureDate" >

    </div>

    <div class="form-group">
        <label>Departure Time:</label>
        <input class="form-control" type="time" formControlName="DepartureTime" [(ngModel)]="flightdetails.departureTime">

    </div>

    <div class="form-group">
        <label>Arrival Date:</label>
        <input class="form-control" type="date" formControlName="ArrivalDate" min="{{maxdate}}" [(ngModel)]="flightdetails.arrivalDate">

    </div>

    <div class="form-group">
        <label>Arrival Time:</label>
        <input class="form-control" type="time" formControlName="ArrivalTime" [(ngModel)]="flightdetails.arrivalTime">

    </div>

    <div class="form-group ">
        <label>Economy Class Price:</label>
        <input class="form-control" type="text" formControlName="EconomyPrice" placeholder="Enter Amount" [(ngModel)]="flightdetails.economyPrice" >

        <div *ngIf="!adminAddFlightForm.get('EconomyPrice')?.valid && (adminAddFlightForm.get('EconomyPrice')?.dirty || adminAddFlightForm.get('EconomyPrice')?.touched) "
        class="error">
        <div *ngIf="adminAddFlightForm.get('EconomyPrice')?.errors?.required" >
            <small class="text-danger">Amount is required</small>
        </div>         

    </div>
    </div>

    <div class="form-group ">
        <label>Business Class Price:</label>
        <input class="form-control" type="text" formControlName="BusinessPrice" placeholder="Enter Amount" [(ngModel)]="flightdetails.businessPrice" >

        <div *ngIf="!adminAddFlightForm.get('BusinessPrice')?.valid && (adminAddFlightForm.get('BusinessPrice')?.dirty || adminAddFlightForm.get('BusinessPrice')?.touched) "
        class="error">
        <div *ngIf="adminAddFlightForm.get('BusinessPrice')?.errors?.required" >
            <small class="text-danger">Amount is required</small>
        </div>         

    </div>
    </div>

    <div class="form-group ">
        <label>Economy Class Seats:</label>
        <input class="form-control" type="number" formControlName="AvailableEconomySeats" placeholder="Enter available Seats" [(ngModel)]="flightdetails.availableEconomySeats" >

        <div *ngIf="!adminAddFlightForm.get('AvailableEconomySeats')?.valid && (adminAddFlightForm.get('AvailableEconomySeats')?.dirty || adminAddFlightForm.get('AvailableEconomySeats')?.touched) "
        class="error">
        <div *ngIf="adminAddFlightForm.get('AvailableEconomySeats')?.errors?.required" >
            <small class="text-danger">This field is required</small>
        </div>         

    </div>
    </div>

    <div class="form-group ">
        <label>Business Class Seats:</label>
        <input class="form-control" type="number" formControlName="AvailableBusinessSeats" placeholder="Enter available Seats"  [(ngModel)]="flightdetails.availableBusinessSeats">

        <div *ngIf="!adminAddFlightForm.get('AvailableBusinessSeats')?.valid && (adminAddFlightForm.get('AvailableBusinessSeats')?.dirty || adminAddFlightForm.get('AvailableBusinessSeats')?.touched) "
        class="error">
        <div *ngIf="adminAddFlightForm.get('AvailableBusinessSeats')?.errors?.required" >
            <small class="text-danger">This field is required</small>
        </div>         

    </div>
    </div>
    
    <div class="form-group">
        <button class="btn btn-primary btn-lg" type="submit" [disabled]="!adminAddFlightForm.valid">ADD</button>
    </div>
</form>

<h3 class="text-danger">{{err}}</h3>

