<div class="container" *ngIf = "oneway.length">
    <div class='parent d-flex grid-parent'>
        <div class='child flex-fill'>
            <h2>{{oneway[0].fromLocation}} <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
              </svg> {{oneway[0].toLocation}} </h2>
            <h3>{{oneway[0].departureDate.slice(0,10)}}</h3>

            <div class="box d-flex" *ngFor="let o of oneway;let i = index;" 
                [ngClass]="OWboolArray[i]? 'select': 'unselect'">
                <div id="details_{{i}}" (click)="OWSelect(i,o)" class="box flex-fill">
                    {{o.flightNumber}}
                    <h4>{{o.departureTime}} -------------------- {{o.arrivalTime}}</h4> 
                </div>
                <button id="0_{{i}}" [disabled]="!(OWboolArray[i] && (o.availableEconomySeats >= pCount))" (click)="OWpriceSelect($event)" [ngClass]="OWbtnTrigger[0] && OWboolArray[i]?'btn btn-success': 'btn btn-primary'" [value]="o.economyPrice" class="box flex-fill">Economy Class: ₹ {{o.economyPrice}}</button>
                <button id="1_{{i}}" [disabled]="!(OWboolArray[i] && (o.availableBusinessSeats >= pCount))" (click)="OWpriceSelect($event)" [ngClass]="OWbtnTrigger[1] && OWboolArray[i]?'btn btn-success': 'btn btn-primary'" [value]="o.businessPrice" class="box flex-fill">Business Class: ₹ {{o.businessPrice}}</button>
            </div>
        </div>

        <div class='child flex-fill' *ngIf="flag && twoway.length" >
            <h2>{{twoway[0].fromLocation}} <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
              </svg>  {{twoway[0].toLocation}} </h2>
            <h3>{{twoway[0].departureDate.slice(0,10)}}</h3>

            <div class="box d-flex" *ngFor="let t of twoway; let i = index;" [ngClass]="RTboolArray[i]? 'select': 'unselect'">
                <div id="details_{{i}}" (click)="RTSelect(i,t)" class="box flex-fill">
                    {{t.flightNumber}}
                    <h4>{{t.departureTime}} -------------------- {{t.arrivalTime}}</h4> 
                </div>
                <button id="0_{{i}}" [disabled]="!(RTboolArray[i] && (t.availableEconomySeats >= pCount))" (click)="RTpriceSelect($event)" [ngClass]="RTbtnTrigger[0] && RTboolArray[i]?'btn btn-success': 'btn btn-primary'" [value]="t.economyPrice" class="box flex-fill">Economy Class: ₹ {{t.economyPrice}}</button>
                <button id="1_{{i}}" [disabled]="!(RTboolArray[i] && (t.availableBusinessSeats >= pCount))" (click)="RTpriceSelect($event)" [ngClass]="RTbtnTrigger[1] && RTboolArray[i]?'btn btn-success': 'btn btn-primary'" [value]="t.businessPrice" class="box flex-fill">Business Class: ₹ {{t.businessPrice}}</button>
            </div>
        </div>
    </div>
</div>

<div class="mx-auto w-50 d-grid gap-2" *ngIf="!flag">
    <button class="btn btn-primary" [disabled]="!(OWselect)" (click)="Continue()">Continue</button>
</div>
<div class="mx-auto w-50 d-grid gap-2" *ngIf="flag">
    <button class="btn btn-primary" [disabled]="!(OWselect && RTselect)"(click)="Continue()">Continue</button>
</div>

