.container{
    margin: auto;
    padding: 20px;
    background: #f9f9f9;
    border: 2px solid #333;
}

.child{
    margin: 5px;
}

.box{
    border: 1px solid rebeccapurple;
}

.select{
    background-color: lightgreen;
}
.unselect{
    background-color: rgb(144, 235, 238);
}
